* {
	padding: none;
  	margin: none;
}
body {
	background: #FFFFFF;
}
.l_btn {
  	color: white;
  background: none;
  	padding: 10px;
  	border: none;
  	width: 75px;
  line-height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
#user_list {
	position: fixed;
  	z-index:2;
  	display: none;
  	top: 60px;
}
#user_s {
	position: fixed;
  	width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 25px;
  	top: 10px;
  	left: -25px;
  background: blue;
  z-index: 3;
  	-webkit-transition: all .2s linear;
  	-moz-transition: all .2s linear;
  	-ms-transition: all .2s linear;
  	-o-transition: all .2s linear;
  	transition: all .2s linear;
  cursor: pointer;
}
#log_wrapper {
  	background: white;
	width: 300px;
  	height: 150px;
    margin: 100px auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px;
    -moz-box-shadow: 0px 0px 10px;
    -ms-box-shadow: 0px 0px 10px;
    -o-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
  	padding: 10px;
}
#reg_wrapper {
  	background: white;
	width: 300px;
  	max-height: 300px;
    margin: 100px auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px;
    -moz-box-shadow: 0px 0px 10px;
    -ms-box-shadow: 0px 0px 10px;
    -o-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
  	padding: 10px;
}
.text_input {
  	width: 200px;
	margin-left: 45px;
  	margin-top: 10px;
  	padding: 5px;
  	border: solid 1px #DCDCDC;
}
.btn {
	margin-left: 75px;
  	margin-top: 10px;
	background: #9EC0FF;
  	padding: 10px;
  	border: none;
  	width: 150px;
}
#d_s {
	background:black;
}
#debug {
  height: 30px;
	width: 300px;
  	color: white;
  	background: black;
  	overflow:auto;
}
.popup {
      position: fixed;
      line-height: 40px;
      width: 200px;
      top: 50%;
      left: 50%;
      background: white;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0px 0px 3px black;
      -moz-box-shadow: 0px 0px 3px black;
      -ms-box-shadow: 0px 0px 3px black;
      -o-box-shadow: 0px 0px 3px black;
      box-shadow: 0px 0px 3px black;
}
#msg_box {
    width: 60%;
    word-wrap:break-word;
  	margin: 0px auto;
}
#msg_wrapper {
  	position: absolute;
  z-index:1;
  	margin: auto;
    overflow: auto;
  	width: 100%;
}
#l_out {
	margin-left: 30px;
}
.inp {
	border: 1px #DCDCDC solid;
  font-family: Tahoma;
  font-size: 12px;
  	min-height: 50px;
  	padding: 5px;
  	width: 90%;
  	margin-left: 4.44%;
  margin-top: 5px;
    word-wrap:break-word;
  	resize:none;
  	float:left;
  margin-bottom: 20px;
}
.snd_btn {
    display:none;
	background: #9EC0FF;
  	padding: 10px;
  	border: none;
  	width: 100px;
  float:right;
  margin-top: 10px;
  margin-right: 50px;
}
.to {
	background: lightgreen;
    line-height: 40px;
    width: 200px;
    text-align: center;
    margin: 7px;
  	-webkit-transition: all .2s linear;
  	-moz-transition: all .2s linear;
  	-ms-transition: all .2s linear;
  	-o-transition: all .2s linear;
  	transition: all .2s linear;
}
.to:hover {
	background: darkgreen;
  color: white;
}
.msg {
  cursor: pointer;
  padding: 5px;
  margin: 10px auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
  border: 1px solid #DCDCDC;
}
#load_b {
  border: none;
	background: blue;
  color: white;
  width: 350px;
  line-height: 40px;
  text-align: center;
  	-webkit-transition: all .2s linear;
  	-moz-transition: all .2s linear;
  	-ms-transition: all .2s linear;
  	-o-transition: all .2s linear;
  	transition: all .2s linear;
  cursor: pointer;
}
#load_b:hover {
	background: darkblue;
}
.msg_n {
	float: left;
  	font-size: 15px;
  color: #565656;
}
.msg_d, .msg_t {
	color: #FFFFFF;
  	font-size: 12px;
  float: right;
  padding: 1px;
}
.msg_b {
	float: none;
  padding: 10px;
  margin: 0px;
  color: black;
  background: rgba(255,255,255, 0.3);
}
.clr {
	clear: both;
}
.unread {
	//background: white;
  	opacity: 0.5;
}
.to_c {
  	position: relative;
	color: grey;
  	width: 50px;
  	margin: 0px;
  float: right;
}
.to_n {
  	position: relative;
  width: 150px;
  float: none;
  color: white;
  	display: block;
  cursor: pointer;
}
#del {
	position: fixed;
    top: 0px;
    left: 50%;
  	margin-left: -100px;
  	width: 200px;
    display: none;
}
#del input {
  width: 200px;
  height: 40px;
  border: none;
  background: lightblue;
  cursor: pointer;
}
input[name='id'] {
	display: none;
}
.del_list {
	opacity: 0.3;
}
.err {
	width: 150px;
  line-height: 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #FFFFFF;
    -moz-box-shadow: 0px 0px 3px #FFFFFF;
    -ms-box-shadow: 0px 0px 3px #FFFFFF;
    -o-box-shadow: 0px 0px 3px #FFFFFF;
    box-shadow: 0px 0px 3px #FFFFFF;
  text-align: center;
  margin: 10px auto;
  padding-left: 5px;
  padding-right: 5px;
}
#l_bg {
  display:none;
	width: 50px;
  	height: 50px;
  	background: #FFFFFF;
  	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-left: -25px;
  	margin-top: -25px;
    -webkit-box-shadow: 0px 0px 3px #000000;
    -moz-box-shadow: 0px 0px 3px #000000;
    -ms-box-shadow: 0px 0px 3px #000000;
    -o-box-shadow: 0px 0px 3px #000000;
    box-shadow: 0px 0px 3px #000000;
}
#l_bg img {
	margin: auto;
  margin: 17.5px 17.5px;
}
.dst > .msg_n {
	color: #FFC8F7;
}
.src > .msg_n {
	color: #D7FFC8;
}